{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "Microsoft Graph - Example"
	},
	"host": "graph.windows.net",
	"schemes": [ "https"],
	"produces": [ "application/json" ],
	"paths": {
		"/v1.0/me": {
			"get": {
				"tags": [
					"Me"
				],
				"operationId": "Me",
				"produces": [
					"text/json",
					"application/json"
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/GraphUser"
						}
					}
				}
			}
		},
		"/v1.0/users/{userid}": {
			"get": {
				"tags": [
					"LoadUser"
				],
				"operationId": "LoadUser",
				"produces": [
					"application/json"
				],
				"parameters": [{
						"name": "userid",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"$ref": "#/definitions/GraphUser"
						}
					}
				}
			}
		},
		"/v1.0/users": {
			"get": {
				"tags": [
					"ListUsers"
				],
				"operationId": "ListUsers",
				"consumes": [],
				"produces": [
					"application/json"
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"$ref": "#/definitions/GraphUserArray"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"GraphUser": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"accountEnabled": {
					"type": "boolean"
				},
				"assignedLicenses-microsoft.graph.assignedLicense": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"assignedPlans-microsoft.graph.assignedPlan": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"businessPhones": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"city": {
					"type": "string"
				},
				"companyName": {
					"type": "string"
				},
				"country": {
					"type": "string"
				},
				"department": {
					"type": "string"
				},
				"displayName": {
					"type": "string"
				},
				"givenName": {
					"type": "string"
				},
				"jobTitle": {
					"type": "string"
				},
				"mail": {
					"type": "string"
				},
				"mailNickname": {
					"type": "string"
				},
				"mobilePhone": {
					"type": "string"
				},
				"onPremisesImmutableId": {
					"type": "string"
				},
				"onPremisesLastSyncDateTime": {
					"type": "string"
				},
				"onPremisesSecurityIdentifier": {
					"type": "string"
				},
				"onPremisesSyncEnabled": {
					"type": "boolean"
				},
				"passwordPolicies": {
					"type": "string"
				},
				"passwordProfile-microsoft.graph.passwordProfile": {
					"type": "string"
				},
				"officeLocation": {
					"type": "string"
				},
				"postalCode": {
					"type": "string"
				},
				"preferredLanguage": {
					"type": "string"
				},
				"provisionedPlans-microsoft.graph.provisionedPlan": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"proxyAddresses": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"state": {
					"type": "string"
				},
				"streetAddress": {
					"type": "string"
				},
				"surname": {
					"type": "string"
				},
				"usageLocation": {
					"type": "string"
				},
				"userPrincipalName": {
					"type": "string"
				},
				"userType": {
					"type": "string"
				},
				"aboutMe": {
					"type": "string"
				},
				"birthday": {
					"type": "string"
				},
				"hireDate": {
					"type": "string"
				},
				"interests": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"mySite": {
					"type": "string"
				},
				"pastProjects": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"preferredName": {
					"type": "string"
				},
				"schools": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"skills": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"Email": {
					"type": "string"
				}
			}
		},
		"GraphUserArray": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/GraphUser"
					}
				}
			}
		}
	}
}
